@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*,
*::after, 
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* ##########################################  UTILITY CLASSES ################################## */

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.btn{
   /* border: 2px solid red; */
   display: inline-block;
   padding: 1em 2.5em;
   margin-top: 1em;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 500;
   border-radius: 50px;
   outline: none;
   cursor: pointer;
}

.btn-primary{
   color: #fff;
   background-color: #16a083;
}

/* ###########################  NAVBAR STYLING ############################# */

 /* for desktop mode */
 .navbar input[type='checkbox'],
 .navbar .hamburger-lines{
    display: none;
 }

 .navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;    /* position fixed dene ke baad navbar apni document overflow krra tha to hamne uski width kr di 100% of the "container */
    width: 100%;
    background-color: #fff;
    opacity: 0.85;
    color: #000;
    z-index: 1000;
}

.navbar-container{
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-between;
 }

 .logo{
    order: 0;
    font-size: 3rem;
 }

 .menu-items{
    order: 1;
    display: flex;
 }

 .menu-items li{
    list-style: none;
    font-size: 1.8rem;
    margin: 1.5rem;
 }

 .menu-items a{
    color: #444;
    text-decoration: none;
    font-weight: 500;

    transition: color 0.3s ease-in-out;
 }

 .menu-items a:hover{
    color: #117964;
 }

 /* ############################## SHOWCASE PAGE STYLING ############################# */

 .showcase-area{
   /* border: 4px solid red; */
   height: 50vh;
   background: linear-gradient(rgba(240, 240, 240, 0.144), rgba(255, 255, 255, 0.366)), url('./images/header-image2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }

 .showcase-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
   font-size: 1.2rem;
 }

 .main-title{
   text-transform: uppercase;
 }

 /* ################################ ABOUT MENU STYLING ######################################*/

 #about{
   padding: 50px;
   background-color: #f5f5f7;
 }

 .about-container{
   display: flex;
 }

 .about-text h2{
   font-size: 3.2rem;
 }

 .about-text p{
   color: #555;
   font-size: 1.6rem;
 }

 .about-text .small{
   font-size: 1.6rem;
   color: #666;
   font-weight: 600;
 }

 .about-text{
   flex: 1 1 400px;         /* (flex grow, shrink, basis) */
   padding: 30px;
   /* border: 2px solid black; */
   margin: auto;

   transform: translateX(-150%);
   animation: about-text-animation 1s ease-in-out forwards;
 }
 @keyframes about-text-animation {
   100%{
      transform: translate(0);
   }
 }

 .about-img{
   flex: 1 1 400px;           /* (flex grow, shrink, basis) */
   padding: 30px;
   /* border: 2px solid red; */

   transform: translateX(150%);
   animation: about-img-animation 1s ease-in-out forwards;
 }
 @keyframes about-img-animation {
   100%{
      transform: translate(0);
   }
 }

 .about-img img{
   display: block;
   height: 400px;
   max-width: 100%;
   object-fit: cover;
   object-position: right;
 }

 /* #############################  FOOD SECTION STYLING   ############################### */

 #food{
   padding: 5rem 0 10rem 0;
 }

 #food h2{
   text-transform: uppercase;
   font-size: 3rem;
   font-weight: 400;
   margin-bottom: 40px;
   text-align: center;
   color: #555;
 }

 .food-container{
   display: flex;
 }

 .food-container img{
   display: block;
   width: 100%;
   margin: auto;
   max-height: 300px;
   object-fit: cover;
   object-position: center;
 }

 .img-container{
   margin: 0 1rem;
   position: relative;
 }

 .img-content h3{
   color: #fff;
   font-size: 3rem;
 }

 .img-content a{
   font-size: 1.2rem;
 }

 .img-content{
   position: absolute;
   top: 70%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   z-index: 2;
   opacity: 0;
   transition: all 0.3s ease-in-out;
 }

 .img-container:hover .img-content{
   top: 40%;
   opacity: 1;
 }


 .img-container::after{
   content:"";
   position: absolute;
   background: rgba(0,0,0,0.871);    /* Image Overlay */
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   /* opacity: 0; */
   z-index: 1;

   transform: scaleY(0);
   transform-origin: 100% 100%;
   transition: all 0.3s ease-in-out;
 }

 .img-container:hover::after{
   opacity: 1;
   transform: scaleY(1);
 }

 /* ################################### FOOOD MENU STYLING ################################## */

 .food-menu-heading{
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
  color: #666;
 }

 .food-menu-container{
  display: flex;
  padding: 50p 0 30px 0;
  flex-wrap: wrap;
 }

 .food-menu-item{
  display: flex;
  flex: 1 1 600px;
  justify-content: space-evenly;
  margin-bottom: 3rem;
 }

 .food-menu-item img{
  display: block;
  height: 250px;
  width: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
 }

 .food-description{
  margin: auto 1.5rem;
 }

 .food-title{
  font-size: 2.2rem;
  font-weight: 400;
  color: #444;
 }

.food-description p{
  font-size: 1.4rem;
  color: #555;
  font-weight: 500;
}

.food-description .food-price{
  color: #117964;
  font-weight: 700;
}

/* ############################# TESTIMONIAL STYLING ########################### */

#testimonials{
  padding: 5rem 0;
  background-color: #c5bebe8e;
}

.testimonial-title{
  font-size: 3rem;
  color: #555;
  font-weight: 400;
  text-align: center;
}

.testimonial-container{
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 1rem;
}

.testimonial-box .checked{
color: #ff9529;
}

.testimonial-box .testimonial-text{
  color: #444;
  margin: 1rem 0;
}

.testimonial-box{
  text-align: center;
  padding: 1rem;
}

.customer-photo img{
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: auto;
}

/* ################################### CONTACT SECTIUON STYLING ################################ */

#contact{
  padding: 5rem 0;
  background-color: rgb(226, 226, 226);

}
 
.contact-container{
  display: flex;
  background-color: #fff;
}

.contact-image{
  width: 50%;
}

.contact-image img{
  height: 400px;
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.form-container{
  padding: 1rem;
  width:50%;
  margin: auto;
}

.form-container input{
  display:block;
  width: 100%;
  border: none;
  padding: 1rem 0;
  border-bottom: 2px solid #ddd;
  box-shadow: none;
  outline: none;
  margin-bottom: 1rem;
  color: #444;
  font-weight: 500;
}

.contact-container textarea{
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  color: #444;
  padding: 1rem 0;
}

.form-container h2{
  font-size: 3rem;
  font-weight: 400;
  color: #444;
  margin-bottom: 1rem;
}

.form-container a{
  font-size: 1.2rem;
}

/* ##################### FOOTER STYLING ################## */

#footer h2{
  text-align: center;
  background-color: rgb(65, 65, 65);
  font-size: 2rem;
  padding: 3rem;
  color: #fff;
  font-weight: 500;
}

/* ############################# MEDIA QUERIES ############################### */

@media (max-width:768px) {

  .navbar{
    opacity:0.95;
  }

  .navbar input[type='checkbox'],
  .navbar .hamburger-lines{
    display: block;
 }

 .navbar-container{
  display: block;
  position: relative;
  height: 64px;
 }

 .navbar-container input[type='checkbox']{
  position: absolute;
  display: block;
  height: 32px;
  width: 40px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
 }

 .navbar-container .hamburger-lines{
  display: block;
  height: 32px;
  width: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }

 .navbar-container .hamburger-lines .line{
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #333;
 }

 .navbar-container .hamburger-lines .line1{
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
 }

 .navbar-container .hamburger-lines .line2{
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
 }

 .navbar-container .hamburger-lines .line3{
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
 }

 .navbar .menu-items{
  padding-top: 100px;
  background: #fff;
  height: 100vh;
  max-width: 300px;
  transform:translateX(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding: 50px;
  transition: transform 0.5s ease-in-out;
  box-shadow: 5px 0px 10px 0px #aaa;

 }

 .navbar .menu-items li{
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 500;
 }

 .logo{
  position: absolute;
  top:10px;
  right: 15px;
  font-size: 3rem;
 }

 .navbar-container input[type='checkbox']:checked ~ .menu-items{
  transform: translateX(0);
 }

 .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line1{
  transform: rotate(45deg);
 }

 .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line2{
  transform: scaleX(0);
 }

 .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line3{
  transform: rotate(-45deg);
 }

 .about-container{
  flex-direction: column;
 }
  
 .about-text h2{
  margin-bottom: 1em;
}

.about-img{
  padding:0;
}


/* ######################## FOOD CATEGORY #################### */

 .about-text{
         
  padding: 0;
  text-align: center;
   margin: auto;
}  

 .food-container{
  flex-direction: column;
  align-items: strech;
 }

 .food-menu-item{
  flex-direction: column;
 }

.food-image{
  margin: 1em auto;
}

.food-description{
  text-align: center;
  margin: 1em 0 1em 0;
 }


 .food-type:not(:last-child){
  margin-bottom: 3rem;

 }

 .food-type{
  box-shadow: 5px 5px 10px 0px #aaa;
 }

 .img-container{
  margin: 0;
 }

 .testimonial-container{
  flex-direction: column;
}

.testimonial-box{
  
  margin: 2em 0 2em 0;
}
  
}

/* #################### SMALL SCREEN MEDIA QUERY ########################## */

@media (max-width:500px) {

  html{
    font-size: 50%;
  }

  .testimonial-container{
    flex-direction: column;
    text-align: center;
  }

  .food-menu-container img{
    margin: auto;
  }

  .form-container{
    width: 90%;
  }

  .contact-container{
    display: flex;
    flex-direction: column;
  }

  .contact-image{
    width: 90%;
    margin: 3rem auto;
  }
  
}

/* ############### LANDSCAPE MODE ###################### */

@media (orientation: landscape) and (max-height : 500px) {

  .showcase-area{
    border: 6px solid green;
    height: 100vh;
  }
  
}
